.monitor {
  font-family: serif;
  font-weight: lighter;
  .title {
    font-size: 18px;
    color: #888888;
    text-align: center;
  }
  .content {
    text-align: center;
  }
  .clock {
    font-size: 20px;
    color: #888888;
    margin-bottom: 3rem;
  }
  .infoWrap {
    font-size: 48px;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    .icon {
      margin-right: 2rem;
    }
    .temperatureHigh {
      color: #FF0000
    }
    .temperatureNormal {
      color: #00AA00
    }
    .temperatureLow {
      color: #0000FF
    }
    .humidityHigh {
      color: #880088
    }
    .humidityNormal {
      color: #0088FF
    }
    .humidityLow {
      color: #FFAA00
    }
  }
}
.chart {
  align-content: center;
  text-align: center;
  margin: 10px auto;
}
